# Working with Missing Data

**Utilizing the California Housing dataset**

In [1]:
# Import package dependencies
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
# from ml_metrics import rmse
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
from sklearn import datasets
from math import sqrt

In [2]:
# Load in the dataset
california = datasets.fetch_california_housing()
print(california.data.shape)

(20640, 8)

In [3]:
print(california.keys())

dict_keys(['data', 'target', 'feature_names', 'DESCR'])

In [4]:
print(california.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block
        - HouseAge      median house age in block
        - AveRooms      average number of rooms
        - AveBedrms     average number of bedrooms
        - Population    block population
        - AveOccup      average house occupancy
        - Latitude      house block latitude
        - Longitude     house block longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
http://lib.stat.cmu.edu/datasets/

The target variable is the median house value for California districts.

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [5]:
california.feature_names

['MedInc',
 'HouseAge',
 'AveRooms',
 'AveBedrms',
 'Population',
 'AveOccup',
 'Latitude',
 'Longitude']

In [6]:
california.target

array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894])

In [7]:
pd.DataFrame(california.data)

            0     1         2         3       4         5      6       7
0      8.3252  41.0  6.984127  1.023810   322.0  2.555556  37.88 -122.23
1      8.3014  21.0  6.238137  0.971880  2401.0  2.109842  37.86 -122.22
2      7.2574  52.0  8.288136  1.073446   496.0  2.802260  37.85 -122.24
3      5.6431  52.0  5.817352  1.073059   558.0  2.547945  37.85 -122.25
4      3.8462  52.0  6.281853  1.081081   565.0  2.181467  37.85 -122.25
5      4.0368  52.0  4.761658  1.103627   413.0  2.139896  37.85 -122.25
6      3.6591  52.0  4.931907  0.951362  1094.0  2.128405  37.84 -122.25
7      3.1200  52.0  4.797527  1.061824  1157.0  1.788253  37.84 -122.25
8      2.0804  42.0  4.294118  1.117647  1206.0  2.026891  37.84 -122.26
9      3.6912  52.0  4.970588  0.990196  1551.0  2.172269  37.84 -122.25
10     3.2031  52.0  5.477612  1.079602   910.0  2.263682  37.85 -122.26
11     3.2705  52.0  4.772480  1.024523  1504.0  2.049046  37.85 -122.26
12     3.0750  52.0  5.322650  1.012821  1098.0  2.346154  37.85 -122.26
13     2.6736  52.0  4.000000  1.097701   345.0  1.982759  37.84 -122.26
14     1.9167  52.0  4.262903  1.009677  1212.0  1.954839  37.85 -122.26
15     2.1250  50.0  4.242424  1.071970   697.0  2.640152  37.85 -122.26
16     2.7750  52.0  5.939577  1.048338   793.0  2.395770  37.85 -122.27
17     2.1202  52.0  4.052805  0.966997   648.0  2.138614  37.85 -122.27
18     1.9911  50.0  5.343675  1.085919   990.0  2.362768  37.84 -122.26
19     2.6033  52.0  5.465455  1.083636   690.0  2.509091  37.84 -122.27
20     1.3578  40.0  4.524096  1.108434   409.0  2.463855  37.85 -122.27
21     1.7135  42.0  4.478142  1.002732   929.0  2.538251  37.85 -122.27
22     1.7250  52.0  5.096234  1.131799  1015.0  2.123431  37.84 -122.27
23     2.1806  52.0  5.193846  1.036923   853.0  2.624615  37.84 -122.27
24     2.6000  52.0  5.270142  1.035545  1006.0  2.383886  37.84 -122.27
25     2.4038  41.0  4.495798  1.033613   317.0  2.663866  37.85 -122.28
26     2.4597  49.0  4.728033  1.020921   607.0  2.539749  37.85 -122.28
27     1.8080  52.0  4.780856  1.060453  1102.0  2.775819  37.85 -122.28
28     1.6424  50.0  4.401691  1.040169  1131.0  2.391121  37.84 -122.28
29     1.6875  52.0  4.703226  1.032258   395.0  2.548387  37.84 -122.28
...       ...   ...       ...       ...     ...       ...    ...     ...
20610  1.3631  28.0  4.851936  1.102506  1195.0  2.722096  39.10 -121.56
20611  1.2857  27.0  4.359413  1.078240  1163.0  2.843521  39.10 -121.55
20612  1.4934  26.0  5.157303  1.082397   761.0  2.850187  39.08 -121.56
20613  1.4958  31.0  4.500000  0.950521  1167.0  3.039062  39.09 -121.55
20614  2.4695  26.0  4.801688  0.970464  1455.0  3.069620  39.08 -121.54
20615  2.3598  23.0  5.461929  1.096447   724.0  3.675127  39.08 -121.54
20616  2.0469  15.0  4.826667  1.176000  1157.0  3.085333  39.08 -121.53
20617  3.3021  20.0  4.921053  0.956140   308.0  2.701754  39.06 -121.53
20618  2.2500  25.0  5.893805  1.092920   726.0  3.212389  39.06 -121.55
20619  2.7303  22.0  6.388514  1.148649  1023.0  3.456081  39.01 -121.56
20620  4.5625  40.0  4.125000  0.854167   151.0  3.145833  39.05 -121.48
20621  2.3661  37.0  7.923567  1.573248   484.0  3.082803  39.01 -121.47
20622  2.4167  20.0  4.808917  0.936306   457.0  2.910828  39.00 -121.44
20623  2.8235  32.0  5.101322  1.074890   598.0  2.634361  39.03 -121.37
20624  3.0739  16.0  5.835052  1.030928   731.0  2.512027  39.04 -121.41
20625  4.1250  37.0  7.285714  1.214286    29.0  2.071429  39.12 -121.52
20626  2.1667  36.0  6.573099  1.076023   504.0  2.947368  39.18 -121.43
20627  3.0000   5.0  6.067797  1.101695   169.0  2.864407  39.13 -121.32
20628  2.5952  19.0  5.238462  1.079487  1018.0  2.610256  39.10 -121.48
20629  2.0943  28.0  5.519802  1.020902  6912.0  3.801980  39.12 -121.39
20630  3.5673  11.0  5.932584  1.134831  1257.0  2.824719  39.29 -121.32
20631  3.5179  15.0  6.145833  1.141204  1200.0  2.777778  39.33 -121.40
20632  3.1250  15.0  6.023377  1.080519  1047.0  2.719481  39.26 -121.45
20633  2.5495  27.0  5.445026  1.078534  1082.0  2.832461  39.19 -121.53
20634  3.7125  28.0  6.779070  1.148256  1041.0  3.026163  39.27 -121.56
20635  1.5603  25.0  5.045455  1.133333   845.0  2.560606  39.48 -121.09
20636  2.5568  18.0  6.114035  1.315789   356.0  3.122807  39.49 -121.21
20637  1.7000  17.0  5.205543  1.120092  1007.0  2.325635  39.43 -121.22
20638  1.8672  18.0  5.329513  1.171920   741.0  2.123209  39.43 -121.32
20639  2.3886  16.0  5.254717  1.162264  1387.0  2.616981  39.37 -121.24

[20640 rows x 8 columns]

In [8]:
# Convert the matrix to pandas
cal = pd.DataFrame(california.data)
cal.columns = california.feature_names
cal['MedHouseVal'] = california.target
cal.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [9]:
cal.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

## Start by fitting a Linear Regression model to the full dataset

**Create a training and testing split (ex., 70/30-split)**

In [10]:
# Create training and testing sets (cross-validation not needed)
train_set = cal.sample(frac=0.7, random_state=100)
test_set = cal[~cal.isin(train_set)].dropna()
print(train_set.shape[0])
print(test_set.shape[0])

14448
6192

In [11]:
train_set.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
8151,3.7031,36.0,6.276836,1.039548,444.0,2.508475,33.81,-118.10,2.453
53,1.2475,52.0,4.075000,1.140000,1162.0,2.905000,37.82,-122.27,1.042
3039,4.8266,13.0,6.746647,1.062593,2170.0,3.233979,35.37,-119.12,1.462
9484,2.8833,19.0,6.750000,1.348684,424.0,2.789474,39.31,-123.15,1.542
9307,2.8903,31.0,4.477459,1.073087,2962.0,2.023224,37.98,-122.52,3.242

In [12]:
# Get the training and testing row indices for later use
train_index = train_set.index.values.astype(int)
test_index = test_set.index.values.astype(int)

In [13]:
# Demonstration of using the row indices above to select consistent records
cal.iloc[train_index].head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
8151,3.7031,36.0,6.276836,1.039548,444.0,2.508475,33.81,-118.10,2.453
53,1.2475,52.0,4.075000,1.140000,1162.0,2.905000,37.82,-122.27,1.042
3039,4.8266,13.0,6.746647,1.062593,2170.0,3.233979,35.37,-119.12,1.462
9484,2.8833,19.0,6.750000,1.348684,424.0,2.789474,39.31,-123.15,1.542
9307,2.8903,31.0,4.477459,1.073087,2962.0,2.023224,37.98,-122.52,3.242

In [14]:
# Converting the training and testing datasets back to matrix-formats
X_train = train_set.iloc[:, 0:8].values # returns the data; excluding the target
Y_train = train_set.iloc[:, -1].values # returns the target-only
X_test = test_set.iloc[:, 0:8].values # ""
Y_test = test_set.iloc[:, -1].values # ""

In [15]:
# Fit a linear regression to the training data
reg = LinearRegression(normalize=True).fit(X_train, Y_train)
print(reg.score(X_train, Y_train))
print(reg.coef_)
print(reg.intercept_)
print(reg.get_params())

0.6160214522398206
[ 4.59063361e-01  9.72601795e-03 -1.37408894e-01  8.20058010e-01
 -5.20832695e-06 -3.38987100e-03 -4.12859546e-01 -4.28244613e-01]
-36.614838649470215
{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': True}

In [16]:
# Find the variable with the largest "normalized" coefficient value
print('The positive(max) coef-value is {}'.format(max(reg.coef_))) # Positive Max
#print('The abs(max) coef-value is {}'.format(max(reg.coef_, key=abs))) # ABS Max
max_var = max(reg.coef_) # Positive Max
#max_var = max(reg.coef_, key=abs) # ABS Max
var_index = reg.coef_.tolist().index(max_var)
print('The variable associated with this coef-value is {}'.format(california.feature_names[var_index]))

The positive(max) coef-value is 0.8200580100743733
The variable associated with this coef-value is AveBedrms

In [17]:
Y_pred = reg.predict(X_test)

orig_mae = mean_absolute_error(Y_test,Y_pred)
orig_mse = mean_squared_error(Y_test,Y_pred)
orig_rmse_val = sqrt(mean_squared_error(Y_test,Y_pred))
orig_r2 = r2_score(Y_test,Y_pred)
print("MAE: %.3f"%orig_mae)
print("MSE:  %.3f"%orig_mse)
print("RMSE:  %.3f"%orig_rmse_val)
print("R2:  %.3f"%orig_r2)

MAE: 0.537
MSE:  0.556
RMSE:  0.746
R2:  0.580

In [18]:
result_frame = pd.DataFrame({'% imp':0,
                   'type':'none',
                   'imp_var' : 'none',          
                   'ctrl_var': 'none',                                
                   'mae': orig_mae, 
                   'mse': orig_mse, 
                   'rmse':orig_rmse_val, 
                   'R2':orig_r2,
                   'mae_diff':np.nan,
                   'mse_diff':np.nan,
                   'rmse_diff':np.nan,
                   'R2_diff':np.nan}, index=[0])

In [19]:
result_frame

,% imp,type,imp_var,ctrl_var,mae,mse,rmse,R2,mae_diff,mse_diff,rmse_diff,R2_diff
0,0,none,none,none,0.53676,0.556336,0.74588,0.58016,NaN,NaN,NaN,NaN

# Missing Completely at Random

In [20]:
def gen_mcar(cal,pMissing,imp_var):
    in_sample = cal.sample(frac=pMissing/100, random_state=99)
    in_sample.shape
    out_sample = cal[~cal.isin(in_sample)].dropna()
    out_sample.shape
    in_sample[imp_var] = np.nan
    out_sample[imp_var].median()
    in_sample[imp_var] = in_sample[imp_var].fillna(out_sample[imp_var].median())
    imputed_data = pd.concat([in_sample, out_sample])
    imputed_data = imputed_data.sort_index()
    train_set = imputed_data.iloc[train_index]
    test_set = imputed_data.iloc[test_index]
    X_train = train_set.iloc[:, 0:8].values # returns the data; excluding the target
    Y_train = train_set.iloc[:, -1].values # returns the target-only
    X_testst = test_set.iloc[:, 0:8].values # ""
    Y_test = test_set.iloc[:, -1].values # ""  
    reg2 = LinearRegression().fit(X_train, Y_train)
    Y_pred = reg2.predict(X_test)
    mae = mean_absolute_error(Y_test,Y_pred)
    mse = mean_squared_error(Y_test,Y_pred)
    rmse_val = sqrt(mean_squared_error(Y_test,Y_pred))
    r2 = r2_score(Y_test,Y_pred)
    temp_res_frame = pd.DataFrame({'% imp': pMissing,
                   'type':'MCAR',
                   'imp_var' : imp_var,
                   'ctrl_var': 'none',                                   
                    'mae': mae, 
                   'mse': mse, 
                   'rmse':rmse_val,
                   'R2':r2,
                   'mae_diff':mae-orig_mae,
                   'mse_diff':mse-orig_mse,
                   'rmse_diff':rmse_val-orig_rmse_val,
                   'R2_diff':r2-orig_r2
                   }, index=[0])
    concat_res_frame = pd.concat([result_frame, temp_res_frame],sort=False)
    return concat_res_frame

In [21]:
result_frame = gen_mcar(cal,1,'HouseAge')
result_frame = gen_mcar(cal,5,'HouseAge')
result_frame = gen_mcar(cal,10,'HouseAge')
result_frame = gen_mcar(cal,20,'HouseAge')
result_frame = gen_mcar(cal,33,'HouseAge')
result_frame = gen_mcar(cal,50,'HouseAge')

In [22]:
result_frame

,% imp,type,imp_var,ctrl_var,mae,mse,rmse,R2,mae_diff,mse_diff,rmse_diff,R2_diff
0,0,none,none,none,0.536760,0.556336,0.745880,0.580160,NaN,NaN,NaN,NaN
0,1,MCAR,HouseAge,none,0.536796,0.556312,0.745863,0.580178,0.000035,-0.000024,-0.000016,0.000018
0,5,MCAR,HouseAge,none,0.536843,0.556349,0.745888,0.580151,0.000083,0.000013,0.000008,-0.000009
0,10,MCAR,HouseAge,none,0.536953,0.556343,0.745884,0.580155,0.000193,0.000007,0.000005,-0.000005
0,20,MCAR,HouseAge,none,0.537292,0.556354,0.745891,0.580147,0.000531,0.000018,0.000012,-0.000013
0,33,MCAR,HouseAge,none,0.537641,0.556561,0.746030,0.579990,0.000881,0.000225,0.000151,-0.000170
0,50,MCAR,HouseAge,none,0.537735,0.556599,0.746055,0.579962,0.000974,0.000262,0.000176,-0.000198

# Missing at Random

In [23]:
def gen_mar(cal,pMissing,imp_var,ctrl_var):
    ctrl_var_thresh = np.percentile(cal[ctrl_var].values,pMissing)
    print("ctrl_var_thresh : %.3f" %ctrl_var_thresh)
    in_sample = cal.loc[cal['Population'] <= ctrl_var_thresh]
    out_sample = cal[~cal.isin(in_sample)].dropna()
    out_sample.shape
    in_sample[imp_var] = np.nan
    out_sample[imp_var].median()
    in_sample[imp_var] = in_sample[imp_var].fillna(out_sample[imp_var].median())
    imputed_data = pd.concat([in_sample, out_sample])
    imputed_data = imputed_data.sort_index()
    train_set = imputed_data.iloc[train_index]
    test_set = imputed_data.iloc[test_index]
    X_train = train_set.iloc[:, 0:8].values # returns the data; excluding the target
    Y_train = train_set.iloc[:, -1].values # returns the target-only
    X_testst = test_set.iloc[:, 0:8].values # ""
    Y_test = test_set.iloc[:, -1].values # ""  
    reg = LinearRegression().fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)
    mae = mean_absolute_error(Y_test,Y_pred)
    mse = mean_squared_error(Y_test,Y_pred)
    rmse_val = sqrt(mean_squared_error(Y_test,Y_pred))
    r2 = r2_score(Y_test,Y_pred)
    temp_res_frame = pd.DataFrame({'% imp': pMissing,
                   'type':'MAR',
                   'imp_var' : imp_var,
                   'ctrl_var': ctrl_var,
                    'mae': mae, 
                   'mse': mse, 
                   'rmse':rmse_val,
                   'R2':r2,
                   'mae_diff':mae-orig_mae,
                   'mse_diff':mse-orig_mse,
                   'rmse_diff':rmse_val-orig_rmse_val,
                   'R2_diff':r2-orig_r2
                   }, index=[0])
    concat_res_frame = pd.concat([result_frame, temp_res_frame],sort=False)
    return concat_res_frame

In [24]:
result_frame = gen_mar(cal,10,'HouseAge','Population')
result_frame = gen_mar(cal,20,'HouseAge','Population')
result_frame = gen_mar(cal,30,'HouseAge','Population')

ctrl_var_thresh : 510.000
ctrl_var_thresh : 710.000
ctrl_var_thresh : 859.000

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [25]:
result_frame

,% imp,type,imp_var,ctrl_var,mae,mse,rmse,R2,mae_diff,mse_diff,rmse_diff,R2_diff
0,0,none,none,none,0.536760,0.556336,0.745880,0.580160,NaN,NaN,NaN,NaN
0,1,MCAR,HouseAge,none,0.536796,0.556312,0.745863,0.580178,0.000035,-0.000024,-0.000016,0.000018
0,5,MCAR,HouseAge,none,0.536843,0.556349,0.745888,0.580151,0.000083,0.000013,0.000008,-0.000009
0,10,MCAR,HouseAge,none,0.536953,0.556343,0.745884,0.580155,0.000193,0.000007,0.000005,-0.000005
0,20,MCAR,HouseAge,none,0.537292,0.556354,0.745891,0.580147,0.000531,0.000018,0.000012,-0.000013
0,33,MCAR,HouseAge,none,0.537641,0.556561,0.746030,0.579990,0.000881,0.000225,0.000151,-0.000170
0,50,MCAR,HouseAge,none,0.537735,0.556599,0.746055,0.579962,0.000974,0.000262,0.000176,-0.000198
0,10,MAR,HouseAge,Population,0.537902,0.555941,0.745614,0.580459,0.001142,-0.000396,-0.000265,0.000299
0,20,MAR,HouseAge,Population,0.538647,0.555834,0.745543,0.580539,0.001886,-0.000502,-0.000337,0.000379
0,30,MAR,HouseAge,Population,0.540205,0.556218,0.745800,0.580250,0.003444,-0.000119,-0.000080,0.000090

In [26]:
def gen_mnar(cal,pMissing,imp_var,ctrl_var):
    in_sample = cal[0:int(0.01*pMissing*cal.shape[0])]
    out_sample = cal[~cal.isin(in_sample)].dropna()
    out_sample.shape
    in_sample[imp_var] = np.nan
    out_sample[imp_var].median()
    in_sample[imp_var] = in_sample[imp_var].fillna(out_sample[imp_var].median())
    imputed_data = pd.concat([in_sample, out_sample])
    imputed_data = imputed_data.sort_index()
    train_set = imputed_data.iloc[train_index]
    test_set = imputed_data.iloc[test_index]
    X_train = train_set.iloc[:, 0:8].values # returns the data; excluding the target
    Y_train = train_set.iloc[:, -1].values # returns the target-only
    X_testst = test_set.iloc[:, 0:8].values # ""
    Y_test = test_set.iloc[:, -1].values # ""  
    reg = LinearRegression().fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)
    mae = mean_absolute_error(Y_test,Y_pred)
    mse = mean_squared_error(Y_test,Y_pred)
    rmse_val = sqrt(mean_squared_error(Y_test,Y_pred))
    r2 = r2_score(Y_test,Y_pred)
    temp_res_frame = pd.DataFrame({'% imp': pMissing,
                   'type':'MNAR',
                   'imp_var' : imp_var,
                   'ctrl_var': "none",
                    'mae': mae, 
                   'mse': mse, 
                   'rmse':rmse_val,
                   'R2':r2,
                   'mae_diff':mae-orig_mae,
                   'mse_diff':mse-orig_mse,
                   'rmse_diff':rmse_val-orig_rmse_val,
                   'R2_diff':r2-orig_r2
                   }, index=[0])
    concat_res_frame = pd.concat([result_frame, temp_res_frame],sort=False)
    return concat_res_frame

In [27]:
result_frame = gen_mnar(cal,25,'HouseAge','Population')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [28]:
result_frame

,% imp,type,imp_var,ctrl_var,mae,mse,rmse,R2,mae_diff,mse_diff,rmse_diff,R2_diff
0,0,none,none,none,0.536760,0.556336,0.745880,0.580160,NaN,NaN,NaN,NaN
0,1,MCAR,HouseAge,none,0.536796,0.556312,0.745863,0.580178,0.000035,-0.000024,-0.000016,0.000018
0,5,MCAR,HouseAge,none,0.536843,0.556349,0.745888,0.580151,0.000083,0.000013,0.000008,-0.000009
0,10,MCAR,HouseAge,none,0.536953,0.556343,0.745884,0.580155,0.000193,0.000007,0.000005,-0.000005
0,20,MCAR,HouseAge,none,0.537292,0.556354,0.745891,0.580147,0.000531,0.000018,0.000012,-0.000013
0,33,MCAR,HouseAge,none,0.537641,0.556561,0.746030,0.579990,0.000881,0.000225,0.000151,-0.000170
0,50,MCAR,HouseAge,none,0.537735,0.556599,0.746055,0.579962,0.000974,0.000262,0.000176,-0.000198
0,10,MAR,HouseAge,Population,0.537902,0.555941,0.745614,0.580459,0.001142,-0.000396,-0.000265,0.000299
0,20,MAR,HouseAge,Population,0.538647,0.555834,0.745543,0.580539,0.001886,-0.000502,-0.000337,0.000379
0,30,MAR,HouseAge,Population,0.540205,0.556218,0.745800,0.580250,0.003444,-0.000119,-0.000080,0.000090
0,25,MNAR,HouseAge,none,0.541820,0.557416,0.746603,0.579345,0.005059,0.001080,0.000723,-0.000815